@charset "UTF-8";
/**/ /**/ /*********************************************************************************************************/
/*********************************************************************************************************/
/******************MEDIA-QUERIES**************************************************************************/
/**/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**/ /**/
.infos-card__menu-tab:not(.active) {
  transition: all ease-out 200ms;
}
.infos-card__menu-tab:not(.active)::before {
  filter: opacity(0);
  transition: all ease-out 200ms;
}
.infos-card__menu-tab:not(.active):hover::before {
  filter: opacity(0.3);
}

.infos-card__menu-tab.active::before {
  filter: opacity(1);
}

.infos-card__content {
  display: none;
  transition: all ease-out 200ms;
}
.infos-card__content * {
  filter: opacity(0);
  transition: all ease-out 200ms;
}

.infos-card__menu-tab.tab-is-active-appear::before {
  filter: opacity(0);
}

.infos-card__menu-tab.tab-is-active-enter::before {
  filter: opacity(0.2);
}

.infos-card__menu-tab.tab-is-active-enter-active::before {
  filter: opacity(0.5);
}

.infos-card__menu-tab.tab-is-active-enter-done::before {
  filter: opacity(1);
}

.infos-card__menu-tab.tab-is-active-exit::before {
  filter: opacity(1);
}

.infos-card__menu-tab.tab-is-active-exit-active::before {
  filter: opacity(0.5);
}

.infos-card__menu-tab.tab-is-active-exit-done::before {
  filter: opacity(0);
}

.infos-card__content.content-is-active-enter {
  display: block;
}
.infos-card__content.content-is-active-enter * {
  filter: opacity(0);
}

.infos-card__content.content-is-active-enter-done {
  display: block;
}
.infos-card__content.content-is-active-enter-done * {
  filter: opacity(1);
}

.infos-card__content.content-is-active-exit {
  display: block;
}
.infos-card__content.content-is-active-exit * {
  filter: opacity(1);
}

.infos-card__content.content-is-active-exit-active {
  display: none;
}
.infos-card__content.content-is-active-exit-active * {
  filter: opacity(0);
}

@keyframes shaking-left {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px) translateX(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shaking-right {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(6px) translateX(4px);
  }
  100% {
    transform: translatey(0px);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  /*    line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
* TOUS LES ELEMENTS QUE JE NORMALISE A MA SAUCE   :)
*/
ul {
  list-style: none;
}

/**/
:root {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
menu {
  list-style-type: none;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/**/
.header h2,
.header li, .project-card__content-text p, .infos-card__content-skills p, .infos-card__content p, .project-card__content-text h3, .infos-card__content-skills h4, .skill-tag li p, .infos-card__content-skills .skills-section__list ul .soft-skill-tag, .infos-card__content-skills h3, .infos-card__content h4, .infos-card__header, .project-card__content-text h2, .infos-card__content h3, .cta-primary,
.cta-secondary, .home-page .projects-section > h2, .infos-card__content h2, :root {
  font-family: "Source Code Pro", monospace;
}

.project-card__content-text p, .infos-card__content-skills p, .infos-card__content p {
  font-weight: 300;
}

.header h2,
.header li, .project-card__content-text h3, .infos-card__content-skills h4, .infos-card__content-skills h3, .infos-card__content h4, .infos-card__header, .home-page .projects-section > h2, .infos-card__content h2 {
  font-weight: 400;
}

.project-card__content-text h2, .infos-card__content h3, .cta-primary,
.cta-secondary {
  font-weight: 500;
}

.skill-tag li p, .infos-card__content-skills .skills-section__list ul .soft-skill-tag {
  font-weight: 600;
}

.home-page .hero-section__titles h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}

.home-page .hero-section__titles h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .home-page .projects-section > h2, .infos-card__content h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 960px) {
  .project-card__content-text h2, .infos-card__content h3, .cta-primary,
  .cta-secondary {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 960px) {
  .infos-card__content-skills h3, .infos-card__content h4, .infos-card__header {
    font-size: 1rem;
  }
}

.skill-tag li p, .infos-card__content-skills .skills-section__list ul .soft-skill-tag {
  font-size: 0.8rem;
}

@media screen and (max-width: 960px) {
  .infos-card__content p {
    font-size: 0.8rem;
  }
}

/**/ /**/
.cta-primary,
.cta-secondary {
  font-size: 1.1rem;
}
@media screen and (max-width: 570px) {
  .cta-primary,
  .cta-secondary {
    font-size: 0.8rem;
  }
}

.project-card__preview:hover .project-card__buttons, .project-card__preview:active .project-card__buttons, .cta-primary:hover, .cta-primary:active,
.cta-secondary:hover,
.cta-secondary:active {
  opacity: 1;
}

.cta-primary,
.cta-secondary {
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border: none;
  opacity: 0.95;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
  cursor: pointer;
}
.cta-primary:hover, .cta-primary:active,
.cta-secondary:hover,
.cta-secondary:active {
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
}

.cta-primary {
  background: #344a53;
  color: #f2faff;
}
.cta-primary.gradient {
  background: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
}

.cta-secondary {
  background: white;
  color: #775562;
}
.cta-secondary.accent {
  background: #00141c;
  color: #f2faff;
}

.cta-tertiary:hover, .cta-tertiary:active {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  footer .cta-tertiary {
    background: #344a53;
    color: #f2faff;
    padding: 1rem 1.5rem;
    box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
    font-size: 1.1rem;
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    border: none;
    opacity: 0.95;
    transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
    cursor: pointer;
  }
  footer .cta-tertiary:hover, footer .cta-tertiary:active {
    box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
    opacity: 1;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
  filter: opacity(0.8);
}
.icon-button:hover {
  filter: opacity(1);
}

.dark-mode-button {
  height: 1.2rem;
  cursor: pointer;
  filter: opacity(0.8) saturate(0.8);
  transition: all 50ms ease-out;
}
.dark-mode-button:hover, .dark-mode-button:active {
  filter: opacity(1) saturate(1);
}
@media screen and (max-width: 960px) {
  .dark-mode-button {
    display: none;
  }
}

/**/
.infos-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
  width: 90%;
}
.infos-card__header {
  padding: 0.7rem 0.7rem 0 0.7rem;
}
@media screen and (max-width: 960px) {
  .infos-card__header {
    padding: 0.7rem;
  }
}
.infos-card__mobile-controls {
  display: none;
}
@media screen and (max-width: 960px) {
  .infos-card__mobile-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0 0 2rem 0;
    cursor: pointer;
  }
  .infos-card__mobile-controls img {
    transform: rotate(270deg);
    height: 1.5rem;
    width: 1.5rem;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50%;
    background-color: #eaeef0;
    padding: 1rem;
  }
  .infos-card__mobile-controls img:nth-child(1) {
    transform: rotate(90deg);
  }
}
.infos-card__menu {
  margin: 0;
}
.infos-card__menu > ul {
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul {
    justify-content: center;
  }
}
.infos-card__menu > ul > .infos-card__menu-tab {
  color: var(--colorTertiary);
  z-index: 10;
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem 0.3rem 0rem 0.3rem;
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab {
    border-radius: 0.3rem;
  }
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab:not(.active) {
    display: none;
  }
}
.infos-card__menu > ul > .infos-card__menu-tab p {
  margin: 0;
}
.infos-card__menu > ul > .infos-card__menu-tab::before {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab::before {
    border-radius: 0.3rem;
  }
}
.infos-card__menu > ul > .infos-card__menu-tab.active p {
  margin: 0;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .infos-card__menu > ul > .infos-card__menu-tab.active p {
    background-image: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab.active p {
    font-size: 1.3rem;
  }
}
.infos-card__content {
  padding: 2rem 2.2rem;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}
@media screen and (max-width: 960px) {
  .infos-card__content {
    border-radius: 0;
    padding: 1.8rem;
  }
}
.infos-card__content.degrees {
  line-height: 1.5rem;
}
.infos-card__content-skills {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem;
  gap: 3rem;
}
@media screen and (max-width: 960px) {
  .infos-card__content-skills {
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 1rem 0;
  }
}
.infos-card__content-skills .skills-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infos-card__content-skills .skills-section__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 1rem;
  padding: 1rem;
  background: var(--colorTertiary);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
}
.infos-card__content-skills .skills-section__list .skill-tag li {
  background-color: var(--colorSecondary);
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
  white-space: nowrap;
}
.infos-card__content-skills .skills-section__list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 1rem;
  padding: 0;
  margin: 0;
}
.infos-card__content-skills .skills-section__list ul .soft-skill-tag {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.8rem 0.5rem 0.6rem;
  border-radius: 0.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #775562;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
  color: #f2faff;
}
.infos-card__content-skills h3 {
  text-align: center;
}
.project-card {
  display: flex;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
  border-radius: 0.3rem;
  width: 100%;
  min-height: 18rem;
}
.project-card aside:nth-child(1) {
  border-radius: 0.3rem 0 0 0.3rem;
}
.project-card aside:nth-child(2) {
  border-radius: 0 0.3rem 0.3rem 0;
}
.project-card main:nth-child(1) .project-card__background {
  border-radius: 0.3rem 0 0 0.3rem;
}
.project-card main:nth-child(2) .project-card__background {
  border-radius: 0 0.3rem 0.3rem 0;
}
.project-card__mobile-controls {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.project-card__mobile-controls button,
.project-card__mobile-controls a {
  width: 100%;
}
@media screen and (max-width: 570px) {
  .project-card__mobile-controls {
    flex-direction: column;
  }
}
@media screen and (min-width: 961px) {
  .project-card__mobile-controls {
    display: none;
  }
}
.project-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colorPrimary500);
  padding: 2rem;
  width: 40%;
  gap: 1rem;
}
@media screen and (max-width: 960px) {
  .project-card__content {
    width: 100%;
  }
}
.project-card__content-text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.project-card__content-text h2 {
  color: var(--colorTertiary);
}
.project-card__content-text h3 {
  color: var(--colorTertiary);
}
.project-card__content-text p {
  color: var(--colorTertiary);
  margin: 0;
}
.project-card__content ul {
  margin: 0;
}
.project-card__tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.project-card__tags-list li {
  background-color: var(--colorTertiary);
}
.project-card__preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .project-card__preview {
    display: none;
  }
}
.project-card__preview:hover .project-card__background, .project-card__preview:active .project-card__background {
  filter: blur(0.5px) opacity(0.4);
}
.project-card__preview:hover .project-card__buttons, .project-card__preview:active .project-card__buttons {
  transform: scale(1.05);
}
.project-card__preview:hover img:nth-child(1).preview-image, .project-card__preview:active img:nth-child(1).preview-image {
  animation: shaking-left 3s ease-in-out infinite;
}
.project-card__preview:hover img:nth-child(2).preview-image, .project-card__preview:active img:nth-child(2).preview-image {
  animation: shaking-right 3s ease-in-out infinite;
}
.project-card__buttons {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
}
.project-card__buttons .cta-secondary {
  font-size: 1.4rem;
  font-weight: 600;
}
.project-card__buttons img {
  height: 3rem;
}
.project-card__background {
  filter: blur(0.3px) opacity(0.7);
  z-index: 0;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 40ms;
}
.project-card__background::before {
  content: "";
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorTertiary);
}
.project-card__background::after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
}
.project-card__background img {
  position: absolute;
  width: 50%;
  box-shadow: 4px 8px 16px rgba(22, 22, 22, 0.2);
}
.project-card__background img:nth-child(1) {
  z-index: 1;
  top: 1.5rem;
  left: 3%;
  filter: opacity(1);
}
.project-card__background img:nth-child(2) {
  bottom: 1.5rem;
  right: 3%;
  filter: opacity(0.9);
}

.skill-tag li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.8rem 0.5rem 0.6rem;
  border-radius: 0.3rem;
  filter: opacity(0.95);
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  flex: 1;
}
.skill-tag li:hover {
  filter: opacity(1);
}
.skill-tag li img {
  height: 1.1rem;
  -o-object-fit: fill;
     object-fit: fill;
  width: auto;
}
.skill-tag li p {
  color: var(--colorAccent);
  margin: 0;
}

/**/ /**/ /**/ /**/ /**/ /**/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  align-items: center;
  background: var(--colorBackground);
}
@media screen and (max-width: 960px) {
  .header {
    padding: 1rem 2rem;
  }
}
.header h2,
.header li {
  font-size: 1.1rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.header__left-section {
  display: flex;
}
.header__left-section .logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.header__middle-section > ul {
  display: flex;
  gap: 4rem;
}
.header__right-section {
  text-align: right;
  display: flex;
  gap: 2rem;
  align-items: center;
}

/**/ /**/ /**/
.footer {
  background: var(--colorBackground);
  padding: 4rem 4rem;
}
@media screen and (max-width: 960px) {
  .footer {
    padding: 2rem;
  }
}
.footer > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .footer > ul {
    flex-direction: column;
    gap: 2rem;
  }
  .footer > ul a {
    width: 90%;
    text-align: center;
  }
}

:root {
  color: #000914;
  --colorPrimary500: #344a53;
  --colorPrimary600: #00141c;
  --colorPrimary700: #000914;
  --colorSecondary: #efc8cb;
  --colorTertiary: #f2faff;
  --colorAccent: #775562;
  --colorBackground: #eaeef0;
}
:root .dark-mode {
  color: #f2faff;
  --colorPrimary500: #344a53;
  --colorPrimary600: #1c2b32;
  --colorPrimary700: #0d0d0d;
  --colorSecondary: #efc8cb;
  --colorTertiary: #333c45;
  --colorAccent: #775562;
  --colorBackground: #191f24;
}
:root .dark-mode .home-page .hero-section__titles h1 {
  color: #f2faff;
}
:root .dark-mode .infos-card {
  background: var(--colorPrimary600);
}
:root .dark-mode .infos-card__content {
  background-color: #0d0d0d;
}
:root .dark-mode .infos-card__mobile-controls {
  background-color: #0d0d0d;
}
:root .dark-mode .infos-card__mobile-controls img {
  opacity: 0.9;
}
:root .dark-mode .infos-card__menu > ul > .infos-card__menu-tab {
  color: #f2faff;
}
:root .dark-mode .infos-card__menu > ul > .infos-card__menu-tab.active p {
  color: #f2faff;
}
:root .dark-mode .infos-card__menu > ul > .infos-card__menu-tab::before {
  background-color: #0d0d0d;
}
:root .dark-mode .skill-tag li {
  background-color: #f2faff;
}
:root .dark-mode .project-card__content-text h2,
:root .dark-mode .project-card__content-text h3,
:root .dark-mode .project-card__content-text p {
  color: #f2faff;
}

.home-page {
  background: var(--colorBackground);
}
.home-page > section {
  padding: 1.5rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  .home-page > section {
    padding: 1rem 0.5rem;
  }
}
.home-page .cta-section {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 960px) {
  .home-page .cta-section {
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    padding: 1rem 0;
  }
  .home-page .cta-section button {
    width: 100%;
    height: 4rem;
  }
}
.home-page .hero-section {
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
}
.home-page .hero-section__titles {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.home-page .hero-section__titles h1 {
  font-size: 5rem;
  color: var(--colorPrimary700);
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .home-page .hero-section__titles h1 {
    background-image: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 960px) {
  .home-page .hero-section__titles h1 {
    font-size: 2.5rem;
  }
}
.home-page .hero-section__titles h2 {
  font-size: 2rem;
}
@media screen and (max-width: 960px) {
  .home-page .hero-section__titles h2 {
    font-size: 1.2rem;
  }
}
.home-page .projects-section {
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
  gap: 4rem;
  padding: 4rem 10rem;
}
@media screen and (max-width: 960px) {
  .home-page .projects-section {
    padding: 4rem 2rem 2rem 2rem;
    gap: 3rem;
  }
}
.home-page .projects-section > h2 {
  font-size: 2rem;
  text-align: center;
}
.home-page .projects-section .project-card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.home-page .projects-section .project-card-container:nth-child(odd) {
  justify-content: flex-end;
}
.home-page .projects-section .project-card-container:nth-child(even) .project-card {
  flex-direction: row-reverse;
}
.home-page .projects-section .project-card-container:nth-child(even) .project-card aside {
  border-radius: 0 0.3rem 0.3rem 0;
}
.home-page .projects-section .project-card-container:nth-child(even) .project-card main .project-card__background {
  border-radius: 0.3rem 0 0 0.3rem;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eaeef0;
  height: 100vh;
}
@media screen and (min-width: 961px) {
  .coming-soon {
    padding: 0 5rem;
    gap: 5rem;
  }
  .coming-soon h1 {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 5rem;
  }
  .coming-soon h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 2rem;
  }
  .coming-soon .cta-section {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}
@media screen and (max-width: 960px) {
  .coming-soon {
    padding: 0 2rem;
    gap: 3rem;
  }
  .coming-soon h1 {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 2rem;
  }
  .coming-soon h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 1rem;
  }
  .coming-soon .cta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  .coming-soon .cta-section a,
  .coming-soon .cta-section button {
    width: 100%;
  }
}

/**/ /**/ /*********************************************************************************************************/
/*********************************************************************************************************/
/******************MEDIA-QUERIES**************************************************************************/
/**/ /**/ /**/
.infos-card__menu-tab:not(.active) {
  transition: all ease-out 200ms;
}
.infos-card__menu-tab:not(.active)::before {
  filter: opacity(0);
  transition: all ease-out 200ms;
}
.infos-card__menu-tab:not(.active):hover::before {
  filter: opacity(0.3);
}

.infos-card__menu-tab.active::before {
  filter: opacity(1);
}

.infos-card__content {
  display: none;
  transition: all ease-out 200ms;
}
.infos-card__content * {
  filter: opacity(0);
  transition: all ease-out 200ms;
}

.infos-card__menu-tab.tab-is-active-appear::before {
  filter: opacity(0);
}

.infos-card__menu-tab.tab-is-active-enter::before {
  filter: opacity(0.2);
}

.infos-card__menu-tab.tab-is-active-enter-active::before {
  filter: opacity(0.5);
}

.infos-card__menu-tab.tab-is-active-enter-done::before {
  filter: opacity(1);
}

.infos-card__menu-tab.tab-is-active-exit::before {
  filter: opacity(1);
}

.infos-card__menu-tab.tab-is-active-exit-active::before {
  filter: opacity(0.5);
}

.infos-card__menu-tab.tab-is-active-exit-done::before {
  filter: opacity(0);
}

.infos-card__content.content-is-active-enter {
  display: block;
}
.infos-card__content.content-is-active-enter * {
  filter: opacity(0);
}

.infos-card__content.content-is-active-enter-done {
  display: block;
}
.infos-card__content.content-is-active-enter-done * {
  filter: opacity(1);
}

.infos-card__content.content-is-active-exit {
  display: block;
}
.infos-card__content.content-is-active-exit * {
  filter: opacity(1);
}

.infos-card__content.content-is-active-exit-active {
  display: none;
}
.infos-card__content.content-is-active-exit-active * {
  filter: opacity(0);
}

@keyframes shaking-left {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-6px) translateX(-4px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shaking-right {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(6px) translateX(4px);
  }
  100% {
    transform: translatey(0px);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  /*    line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
* TOUS LES ELEMENTS QUE JE NORMALISE A MA SAUCE   :)
*/
ul {
  list-style: none;
}

/**/
:root {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
menu {
  list-style-type: none;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/**/
:root, .cta-primary,
.cta-secondary, .infos-card__header, .infos-card__content h2, .infos-card__content p, .infos-card__content h3, .infos-card__content h4, .infos-card__content-skills .skills-section__list ul .soft-skill-tag, .infos-card__content-skills h3, .infos-card__content-skills h4, .infos-card__content-skills p, .project-card__content-text h2, .project-card__content-text h3, .project-card__content-text p, .skill-tag li p, .header h2,
.header li, .home-page .projects-section > h2 {
  font-family: "Source Code Pro", monospace;
}

.infos-card__content p, .infos-card__content-skills p, .project-card__content-text p {
  font-weight: 300;
}

.infos-card__header, .infos-card__content h2, .infos-card__content h4, .infos-card__content-skills h3, .infos-card__content-skills h4, .project-card__content-text h3, .header h2,
.header li, .home-page .projects-section > h2 {
  font-weight: 400;
}

.cta-primary,
.cta-secondary, .infos-card__content h3, .project-card__content-text h2 {
  font-weight: 500;
}

.infos-card__content-skills .skills-section__list ul .soft-skill-tag, .skill-tag li p {
  font-weight: 600;
}

.home-page .hero-section__titles h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}

.home-page .hero-section__titles h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .infos-card__content h2, .home-page .projects-section > h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 960px) {
  .cta-primary,
  .cta-secondary, .infos-card__content h3, .project-card__content-text h2 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 960px) {
  .infos-card__header, .infos-card__content h4, .infos-card__content-skills h3 {
    font-size: 1rem;
  }
}

.infos-card__content-skills .skills-section__list ul .soft-skill-tag, .skill-tag li p {
  font-size: 0.8rem;
}

@media screen and (max-width: 960px) {
  .infos-card__content p {
    font-size: 0.8rem;
  }
}

/**/ /**/
.cta-primary,
.cta-secondary {
  font-size: 1.1rem;
}
@media screen and (max-width: 570px) {
  .cta-primary,
  .cta-secondary {
    font-size: 0.8rem;
  }
}

.cta-primary:hover, .cta-primary:active,
.cta-secondary:hover,
.cta-secondary:active, .project-card__preview:hover .project-card__buttons, .project-card__preview:active .project-card__buttons {
  opacity: 1;
}

.cta-primary,
.cta-secondary {
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border: none;
  opacity: 0.95;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
  cursor: pointer;
}
.cta-primary:hover, .cta-primary:active,
.cta-secondary:hover,
.cta-secondary:active {
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
}

.cta-primary {
  background: #344a53;
  color: #f2faff;
}
.cta-primary.gradient {
  background: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
}

.cta-secondary {
  background: white;
  color: #775562;
}
.cta-secondary.accent {
  background: #00141c;
  color: #f2faff;
}

.cta-tertiary:hover, .cta-tertiary:active {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  footer .cta-tertiary {
    background: #344a53;
    color: #f2faff;
    padding: 1rem 1.5rem;
    box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
    font-size: 1.1rem;
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    border: none;
    opacity: 0.95;
    transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
    cursor: pointer;
  }
  footer .cta-tertiary:hover, footer .cta-tertiary:active {
    box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
    opacity: 1;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 4px;
  border: none;
  cursor: pointer;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
  filter: opacity(0.8);
}
.icon-button:hover {
  filter: opacity(1);
}

.dark-mode-button {
  height: 1.2rem;
  cursor: pointer;
  filter: opacity(0.8) saturate(0.8);
  transition: all 50ms ease-out;
}
.dark-mode-button:hover, .dark-mode-button:active {
  filter: opacity(1) saturate(1);
}
@media screen and (max-width: 960px) {
  .dark-mode-button {
    display: none;
  }
}

/**/
.infos-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
  width: 90%;
}
.infos-card__header {
  padding: 0.7rem 0.7rem 0 0.7rem;
}
@media screen and (max-width: 960px) {
  .infos-card__header {
    padding: 0.7rem;
  }
}
.infos-card__mobile-controls {
  display: none;
}
@media screen and (max-width: 960px) {
  .infos-card__mobile-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0 0 2rem 0;
    cursor: pointer;
  }
  .infos-card__mobile-controls img {
    transform: rotate(270deg);
    height: 1.5rem;
    width: 1.5rem;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50%;
    background-color: #eaeef0;
    padding: 1rem;
  }
  .infos-card__mobile-controls img:nth-child(1) {
    transform: rotate(90deg);
  }
}
.infos-card__menu {
  margin: 0;
}
.infos-card__menu > ul {
  margin: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul {
    justify-content: center;
  }
}
.infos-card__menu > ul > .infos-card__menu-tab {
  color: var(--colorTertiary);
  z-index: 10;
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem 0.3rem 0rem 0.3rem;
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab {
    border-radius: 0.3rem;
  }
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab:not(.active) {
    display: none;
  }
}
.infos-card__menu > ul > .infos-card__menu-tab p {
  margin: 0;
}
.infos-card__menu > ul > .infos-card__menu-tab::before {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab::before {
    border-radius: 0.3rem;
  }
}
.infos-card__menu > ul > .infos-card__menu-tab.active p {
  margin: 0;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .infos-card__menu > ul > .infos-card__menu-tab.active p {
    background-image: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 960px) {
  .infos-card__menu > ul > .infos-card__menu-tab.active p {
    font-size: 1.3rem;
  }
}
.infos-card__content {
  padding: 2rem 2.2rem;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}
@media screen and (max-width: 960px) {
  .infos-card__content {
    border-radius: 0;
    padding: 1.8rem;
  }
}
.infos-card__content.degrees {
  line-height: 1.5rem;
}
.infos-card__content-skills {
  display: flex;
  justify-content: space-evenly;
  padding: 0 2rem;
  gap: 3rem;
}
@media screen and (max-width: 960px) {
  .infos-card__content-skills {
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 1rem 0;
  }
}
.infos-card__content-skills .skills-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infos-card__content-skills .skills-section__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 1rem;
  padding: 1rem;
  background: var(--colorTertiary);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
}
.infos-card__content-skills .skills-section__list .skill-tag li {
  background-color: var(--colorSecondary);
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
  white-space: nowrap;
}
.infos-card__content-skills .skills-section__list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem 1rem;
  padding: 0;
  margin: 0;
}
.infos-card__content-skills .skills-section__list ul .soft-skill-tag {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.8rem 0.5rem 0.6rem;
  border-radius: 0.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #775562;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
  color: #f2faff;
}
.infos-card__content-skills h3 {
  text-align: center;
}
.project-card {
  display: flex;
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.1);
  border-radius: 0.3rem;
  width: 100%;
  min-height: 18rem;
}
.project-card aside:nth-child(1) {
  border-radius: 0.3rem 0 0 0.3rem;
}
.project-card aside:nth-child(2) {
  border-radius: 0 0.3rem 0.3rem 0;
}
.project-card main:nth-child(1) .project-card__background {
  border-radius: 0.3rem 0 0 0.3rem;
}
.project-card main:nth-child(2) .project-card__background {
  border-radius: 0 0.3rem 0.3rem 0;
}
.project-card__mobile-controls {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}
.project-card__mobile-controls button,
.project-card__mobile-controls a {
  width: 100%;
}
@media screen and (max-width: 570px) {
  .project-card__mobile-controls {
    flex-direction: column;
  }
}
@media screen and (min-width: 961px) {
  .project-card__mobile-controls {
    display: none;
  }
}
.project-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colorPrimary500);
  padding: 2rem;
  width: 40%;
  gap: 1rem;
}
@media screen and (max-width: 960px) {
  .project-card__content {
    width: 100%;
  }
}
.project-card__content-text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.project-card__content-text h2 {
  color: var(--colorTertiary);
}
.project-card__content-text h3 {
  color: var(--colorTertiary);
}
.project-card__content-text p {
  color: var(--colorTertiary);
  margin: 0;
}
.project-card__content ul {
  margin: 0;
}
.project-card__tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.project-card__tags-list li {
  background-color: var(--colorTertiary);
}
.project-card__preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .project-card__preview {
    display: none;
  }
}
.project-card__preview:hover .project-card__background, .project-card__preview:active .project-card__background {
  filter: blur(0.5px) opacity(0.4);
}
.project-card__preview:hover .project-card__buttons, .project-card__preview:active .project-card__buttons {
  transform: scale(1.05);
}
.project-card__preview:hover img:nth-child(1).preview-image, .project-card__preview:active img:nth-child(1).preview-image {
  animation: shaking-left 3s ease-in-out infinite;
}
.project-card__preview:hover img:nth-child(2).preview-image, .project-card__preview:active img:nth-child(2).preview-image {
  animation: shaking-right 3s ease-in-out infinite;
}
.project-card__buttons {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
}
.project-card__buttons .cta-secondary {
  font-size: 1.4rem;
  font-weight: 600;
}
.project-card__buttons img {
  height: 3rem;
}
.project-card__background {
  filter: blur(0.3px) opacity(0.7);
  z-index: 0;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 40ms;
}
.project-card__background::before {
  content: "";
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorTertiary);
}
.project-card__background::after {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
}
.project-card__background img {
  position: absolute;
  width: 50%;
  box-shadow: 4px 8px 16px rgba(22, 22, 22, 0.2);
}
.project-card__background img:nth-child(1) {
  z-index: 1;
  top: 1.5rem;
  left: 3%;
  filter: opacity(1);
}
.project-card__background img:nth-child(2) {
  bottom: 1.5rem;
  right: 3%;
  filter: opacity(0.9);
}

.skill-tag li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.8rem 0.5rem 0.6rem;
  border-radius: 0.3rem;
  filter: opacity(0.95);
  transition: all cubic-bezier(0.13, 0.44, 0.9, 0.61) 90ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  flex: 1;
}
.skill-tag li:hover {
  filter: opacity(1);
}
.skill-tag li img {
  height: 1.1rem;
  -o-object-fit: fill;
     object-fit: fill;
  width: auto;
}
.skill-tag li p {
  color: var(--colorAccent);
  margin: 0;
}

/**/ /**/ /**/ /**/ /**/ /**/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  align-items: center;
  background: var(--colorBackground);
}
@media screen and (max-width: 960px) {
  .header {
    padding: 1rem 2rem;
  }
}
.header h2,
.header li {
  font-size: 1.1rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.header__left-section {
  display: flex;
}
.header__left-section .logo {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.header__middle-section > ul {
  display: flex;
  gap: 4rem;
}
.header__right-section {
  text-align: right;
  display: flex;
  gap: 2rem;
  align-items: center;
}

/**/ /**/ /**/
.footer {
  background: var(--colorBackground);
  padding: 4rem 4rem;
}
@media screen and (max-width: 960px) {
  .footer {
    padding: 2rem;
  }
}
.footer > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .footer > ul {
    flex-direction: column;
    gap: 2rem;
  }
  .footer > ul a {
    width: 90%;
    text-align: center;
  }
}

:root {
  color: #000914;
  --colorPrimary500: #344a53;
  --colorPrimary600: #00141c;
  --colorPrimary700: #000914;
  --colorSecondary: #efc8cb;
  --colorTertiary: #f2faff;
  --colorAccent: #775562;
  --colorBackground: #eaeef0;
}
:root .dark-mode {
  color: #f2faff;
  --colorPrimary500: #344a53;
  --colorPrimary600: #1c2b32;
  --colorPrimary700: #0d0d0d;
  --colorSecondary: #efc8cb;
  --colorTertiary: #333c45;
  --colorAccent: #775562;
  --colorBackground: #191f24;
}
:root .dark-mode .home-page .hero-section__titles h1 {
  color: #f2faff;
}
:root .dark-mode .infos-card {
  background: var(--colorPrimary600);
}
:root .dark-mode .infos-card__content {
  background-color: #0d0d0d;
}
:root .dark-mode .infos-card__mobile-controls {
  background-color: #0d0d0d;
}
:root .dark-mode .infos-card__mobile-controls img {
  opacity: 0.9;
}
:root .dark-mode .infos-card__menu > ul > .infos-card__menu-tab {
  color: #f2faff;
}
:root .dark-mode .infos-card__menu > ul > .infos-card__menu-tab.active p {
  color: #f2faff;
}
:root .dark-mode .infos-card__menu > ul > .infos-card__menu-tab::before {
  background-color: #0d0d0d;
}
:root .dark-mode .skill-tag li {
  background-color: #f2faff;
}
:root .dark-mode .project-card__content-text h2,
:root .dark-mode .project-card__content-text h3,
:root .dark-mode .project-card__content-text p {
  color: #f2faff;
}

.home-page {
  background: var(--colorBackground);
}
.home-page > section {
  padding: 1.5rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  .home-page > section {
    padding: 1rem 0.5rem;
  }
}
.home-page .cta-section {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 960px) {
  .home-page .cta-section {
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    padding: 1rem 0;
  }
  .home-page .cta-section button {
    width: 100%;
    height: 4rem;
  }
}
.home-page .hero-section {
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
}
.home-page .hero-section__titles {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.home-page .hero-section__titles h1 {
  font-size: 5rem;
  color: var(--colorPrimary700);
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .home-page .hero-section__titles h1 {
    background-image: linear-gradient(87.59deg, #00141c 1.2%, #243242 31.81%, #4d5269 62.42%, #7f728f 93.03%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
}
@media screen and (max-width: 960px) {
  .home-page .hero-section__titles h1 {
    font-size: 2.5rem;
  }
}
.home-page .hero-section__titles h2 {
  font-size: 2rem;
}
@media screen and (max-width: 960px) {
  .home-page .hero-section__titles h2 {
    font-size: 1.2rem;
  }
}
.home-page .projects-section {
  box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.05);
  gap: 4rem;
  padding: 4rem 10rem;
}
@media screen and (max-width: 960px) {
  .home-page .projects-section {
    padding: 4rem 2rem 2rem 2rem;
    gap: 3rem;
  }
}
.home-page .projects-section > h2 {
  font-size: 2rem;
  text-align: center;
}
.home-page .projects-section .project-card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.home-page .projects-section .project-card-container:nth-child(odd) {
  justify-content: flex-end;
}
.home-page .projects-section .project-card-container:nth-child(even) .project-card {
  flex-direction: row-reverse;
}
.home-page .projects-section .project-card-container:nth-child(even) .project-card aside {
  border-radius: 0 0.3rem 0.3rem 0;
}
.home-page .projects-section .project-card-container:nth-child(even) .project-card main .project-card__background {
  border-radius: 0.3rem 0 0 0.3rem;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eaeef0;
  height: 100vh;
}
@media screen and (min-width: 961px) {
  .coming-soon {
    padding: 0 5rem;
    gap: 5rem;
  }
  .coming-soon h1 {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 5rem;
  }
  .coming-soon h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 2rem;
  }
  .coming-soon .cta-section {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}
@media screen and (max-width: 960px) {
  .coming-soon {
    padding: 0 2rem;
    gap: 3rem;
  }
  .coming-soon h1 {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 2rem;
  }
  .coming-soon h2 {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 1rem;
  }
  .coming-soon .cta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  .coming-soon .cta-section a,
  .coming-soon .cta-section button {
    width: 100%;
  }
}

/***********************************/
/***********************************/
/***********************************/
@media all and (max-width: 570) {
  body > header {
    height: 75px;
    text-align: center;
  }
}
/*
     CE DOCUMENT EST POUR LES PERSONNES QUI DEVRONT COLLABORER AU PROJET, 
     POUVOIR INTERAGIR VIA UN FICHIER DÉDIÉ POUR INTÉRAGIR AVEC LE PROJET.
*/
body {
  background: inherit;
}