/**/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

%font__content {
    font-family: 'Source Code Pro', monospace;
}

%extraLight {
    font-weight: 200;
}
%light {
    font-weight: 300;
}
%regular {
    font-weight: 400;
}
%medium {
    font-weight: 500;
}
%semiBold {
    font-weight: 600;
}
%bold {
    font-weight: 700;
}
%extraBold {
    font-weight: 800;
}
%black {
    font-weight: 900;
}

%title1 {
    @extend %font__content;
    @extend %medium;
}

%title2 {
    @extend %font__content;
    @extend %light;
}
%title3 {
    @extend %font__content;
    @extend %regular;
}
%title4 {
    @extend %font__content;
    @extend %regular;
}
%title5 {
    @extend %font__content;
    @extend %medium;
}
%title5Tags {
    @extend %font__content;
    @extend %semiBold;
}
%title6 {
    @extend %font__content;
    @extend %regular;
}
%paragraph1 {
    @extend %font__content;
    @extend %light;
}
%paragraph2 {
    @extend %font__content;
    @extend %light;
}
%menuTexts {
    @extend %font__content;
    @extend %light;
}
