/**/



.footer{
    padding:1em;
    border-top:solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 1px #b3b3b3;
    position: relative;
    // @include footerBasic0();
}





