/**/
.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    align-items: center;
    background: $colorBg2;
    section {
        width: 100%;
    }
    h2,
    li {
        @extend %menuTexts;
        font-size: 1.1rem;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__middle-section {
        > ul {
            display: flex;
            gap: 4rem;
        }
    }
    &__right-section {
        text-align: right;
    }
}
