/**/

// ***** Informations card *****

// Resetting default behaviors

.infos-card__menu-tab:not(.active) {
    filter: opacity(0.8);
    transition: all ease-out 200ms;

    &::before {
        filter: opacity(0);
        transition: all ease-out 200ms;
    }
    &:hover {
        &::before {
            filter: opacity(0.3);
        }
    }
}

.infos-card__menu-tab.active {
    filter: opacity(1);
    &::before {
        filter: opacity(1);
    }
}

.infos-card__content {
    display: none;
    * {
        filter: opacity(0);
        transition: all ease-out 200ms;
    }
    transition: all ease-out 200ms;
}

// Setting animations behaviors

// Tabs

.infos-card__menu-tab.tab-is-active-appear {
    filter: opacity(0.8);

    &::before {
        filter: opacity(0);
    }
}

.infos-card__menu-tab.tab-is-active-enter {
    filter: opacity(0.8);

    &::before {
        filter: opacity(0.2);
    }
}

.infos-card__menu-tab.tab-is-active-enter-active {
    filter: opacity(0.9);

    &::before {
        filter: opacity(0.5);
    }
}

.infos-card__menu-tab.tab-is-active-enter-done {
    filter: opacity(1);

    &::before {
        filter: opacity(1);
    }
}

.infos-card__menu-tab.tab-is-active-exit {
    filter: opacity(1);

    &::before {
        filter: opacity(1);
    }
}

.infos-card__menu-tab.tab-is-active-exit-active {
    filter: opacity(0.9);

    &::before {
        filter: opacity(0.5);
    }
}

.infos-card__menu-tab.tab-is-active-exit-done {
    filter: opacity(0.8);

    &::before {
        filter: opacity(0);
    }
}

// Contents

.infos-card__content.content-is-active-enter {
    display: block;

    * {
        filter: opacity(0);
    }
}

.infos-card__content.content-is-active-enter-done {
    display: block;

    * {
        filter: opacity(1);
    }
}

.infos-card__content.content-is-active-exit {
    display: block;

    * {
        filter: opacity(1);
    }
}

.infos-card__content.content-is-active-exit-active {
    display: none;

    * {
        filter: opacity(0);
    }
}

// Typewriter animation
