:root {
    background-color: var(--colorBackground);
    strong {
        color: $colorPrimary500;
        @extend %medium;
    }
    // Light mode colors
    color: $colorPrimary700;
    --colorPrimary500: #{$colorPrimary500};
    --colorPrimary600: #{$colorPrimary600};
    --colorPrimary700: #{$colorPrimary700};

    --colorSecondary: #{$colorSecondary};

    --colorTertiary: #{$colorTertiary};

    --colorAccent: #{$colorAccent};

    --colorBackground: #{$colorBackground};

    .dark-mode {
        strong {
            color: $colorTertiary;
        }
        color: $colorTertiary;

        --colorPrimary500: #{$colorPrimary500DarkMode};
        --colorPrimary600: #{$colorPrimary600DarkMode};
        --colorPrimary700: #{$colorPrimary700DarkMode};

        --colorSecondary: #{$colorSecondaryDarkMode};

        --colorTertiary: #{$colorTertiaryDarkMode};

        --colorAccent: #{$colorAccentDarkMode};

        --colorBackground: #{$colorBackgroundDarkMode};
        .home-page .hero-section__titles h1 {
            color: $colorTertiary;
        }
        .infos-card {
            background: var(--colorPrimary600);
            &__content {
                background-color: $colorPrimary700DarkMode;
            }
            &__mobile-controls {
                background-color: $colorPrimary700DarkMode;
                img {
                    opacity: 0.9;
                }
            }
            &__menu > ul > .infos-card__menu-tab {
                color: $colorTertiary;
                &.active p {
                    color: $colorTertiary;
                }
                &::before {
                    background-color: $colorPrimary700DarkMode;
                }
            }
        }
        .skill-tag li {
            background-color: $colorTertiary;
        }
        .project-card__content-text {
            h2,
            h3,
            p {
                color: $colorTertiary;
            }
        }
    }
    .color-transition__slider {
        &:nth-of-type(1) {
            position: fixed;
            width: 100%;
            height: 150vh;
            background: $colorPrimary600;
            z-index: 100;
            animation: color-transition 1700ms
                cubic-bezier(0.45, 0.1, 0.85, 0.63) forwards;
        }
        &:nth-of-type(2) {
            position: fixed;
            width: 100%;
            height: 150vh;
            background: $colorPrimary500;
            z-index: 99;
            transform: translateY(2000px);
            animation: color-transition 2000ms
                cubic-bezier(0.45, 0.1, 0.85, 0.63) forwards;
        }
    }
}
