.home-page {
    background: $colorBg2;

    padding: 0 4rem;
    > section {
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .cta-section {
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    h1 {
        @extend %title1;
        font-size: 5rem;
    }
    h2 {
        @extend %title2;
        font-size: 2rem;
    }
}
