/**/
.cta-primary,
.cta-secondary {
    @extend %title4;
    padding: 1rem 1.5rem;
    border: none;
    opacity: 0.8;
    box-shadow: $shadow2;
    transition: all ease-in 90ms;
    cursor: pointer;
    &:hover {
        opacity: 1;
        transform: scale(1.02);
    }
}

.cta-primary {
    background: $colorAccent1;
    color: $colorBg1;
}

.cta-secondary {
    background: $colorBg1;
    color: $colorBtn1;
}
