/**/



@mixin headerbarLogo(){
    text-align: center;
    // >a
    &__retourBtn{
      @include icon("\f060");
      @extend %goa_tbl;
      @extend %dfcv;
      font-size: 1.5em;
      padding-left: 1em;
    }
    &__logo{width:200px;display: inline-block;}
    box-shadow:0 0 10px 1px lighten($black,70%);
    position: relative;
    padding:1em 0;
}
.headerbarLogo{@include headerbarLogo();}